<%- include('partials/header') %>
<div>
<a href="/sports"><button name="spt-button">SPORTS</button></a>
<a href="/politics"><button name="pol-button">POLITICS</button></a>
<a href="/entertainment"><button name="ent-button">ENTERTAINMENT / MUSIC</button></a>
</div>
<%- include('partials/footer') %>
