<%- include('../partials/header') %>
<div class="comment-page" style="display: flex; justify-content: center;">
<form action="/sports" method="POST">
    <textarea name="commentText" placeholder="Add A Comment"></textarea>
    <button type="submit">Submit</button>
</form>
</div>
<%- include('../partials/footer') %>