<%- include('../partials/header') %>
<form action="/sports" method="POST">
    <textarea name="commentText" placeholder="Add A Comment"></textarea>
    <button type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>