<%- include('../partials/header') %>

<form action="/politics/<%= comment._id %>?_method=PUT" method="POST">
    <textarea name="comment" cols="30" rows="10" ><%= comment.commentText %></textarea>
    <input type="submit">
</form>

<%- include('../partials/footer') %>